<a href="https://colab.research.google.com/github/MUXULCRACK/Data-Science/blob/main/Pandas_I_O.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Aula 1 - Leyendo archivos CSV**

###**Importando archivos CSV**

In [ ]:
import pandas as pd

In [ ]:
datos = pd.read_csv('superstore_data.csv')

In [ ]:
datos.head()

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1826,1970,Graduation,Divorced,84835.0,0,0,6/16/2014,0,189,...,111,189,218,1,4,4,6,1,1,0
1,1,1961,Graduation,Single,57091.0,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
2,10476,1958,Graduation,Married,67267.0,0,1,5/13/2014,0,134,...,15,2,30,1,3,2,5,2,0,0
3,1386,1967,Graduation,Together,32474.0,1,1,11/5/2014,0,10,...,0,0,0,1,1,0,2,7,0,0
4,5371,1989,Graduation,Single,21474.0,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0

In [ ]:
datos_punto_coma = pd.read_csv('superstore_data_punto_coma.csv')

In [ ]:
datos_punto_coma.head()

  Id;Year_Birth;Education;Marital_Status;Income;Kidhome;Teenhome;Dt_Customer;Recency;MntWines;MntFruits;MntMeatProducts;MntFishProducts;MntSweetProducts;MntGoldProds;NumDealsPurchases;NumWebPurchases;NumCatalogPurchases;NumStorePurchases;NumWebVisitsMonth;Response;Complain
0  1826;1970;Graduation;Divorced;84835;0;0;6/16/2...
1  1;1961;Graduation;Single;57091;0;0;6/15/2014;0...
2  10476;1958;Graduation;Married;67267;0;1;5/13/2...
3  1386;1967;Graduation;Together;32474;1;1;11/5/2...
4  5371;1989;Graduation;Single;21474;1;0;8/4/2014...

###**Parámetros de la función read_csv**
Documentación: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

In [ ]:
datos_punto_coma = pd.read_csv('superstore_data_punto_coma.csv', sep = ';')

In [ ]:
datos_punto_coma

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1826,1970,Graduation,Divorced,84835.0,0,0,6/16/2014,0,189,...,111,189,218,1,4,4,6,1,1,0
1,1,1961,Graduation,Single,57091.0,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
2,10476,1958,Graduation,Married,67267.0,0,1,5/13/2014,0,134,...,15,2,30,1,3,2,5,2,0,0
3,1386,1967,Graduation,Together,32474.0,1,1,11/5/2014,0,10,...,0,0,0,1,1,0,2,7,0,0
4,5371,1989,Graduation,Single,21474.0,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10142,1976,PhD,Divorced,66476.0,0,1,7/3/2013,99,372,...,47,48,78,2,5,2,11,4,0,0
2236,5263,1977,2n Cycle,Married,31056.0,1,0,1/22/2013,99,5,...,3,8,16,1,1,0,3,8,0,0
2237,22,1976,Graduation,Divorced,46310.0,1,0,3/12/2012,99,185,...,15,5,14,2,6,1,5,8,0,0
2238,528,1978,Graduation,Married,65819.0,0,0,11/29/2012,99,267,...,149,165,63,1,5,4,10,3,0,0
2239,4070,1969,PhD,Married,94871.0,0,2,1/9/2012,99,169,...,188,0,144,1,8,5,4,7,1,0

In [ ]:
datos_primeras_lineas = pd.read_csv('superstore_data.csv',nrows=5)
datos_primeras_lineas

,Id,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,Response,Complain
0,1826,1970,Graduation,Divorced,84835,0,0,6/16/2014,0,189,...,111,189,218,1,4,4,6,1,1,0
1,1,1961,Graduation,Single,57091,0,0,6/15/2014,0,464,...,7,0,37,1,7,3,7,5,1,0
2,10476,1958,Graduation,Married,67267,0,1,5/13/2014,0,134,...,15,2,30,1,3,2,5,2,0,0
3,1386,1967,Graduation,Together,32474,1,1,11/5/2014,0,10,...,0,0,0,1,1,0,2,7,0,0
4,5371,1989,Graduation,Single,21474,1,0,8/4/2014,0,6,...,11,0,34,2,3,1,2,7,1,0

In [ ]:
datos_seleccion = pd.read_csv('superstore_data.csv', usecols=['Id', 'Year_Birth', 'Income'])
datos_seleccion

         Id  Year_Birth   Income
0      1826        1970  84835.0
1         1        1961  57091.0
2     10476        1958  67267.0
3      1386        1967  32474.0
4      5371        1989  21474.0
...     ...         ...      ...
2235  10142        1976  66476.0
2236   5263        1977  31056.0
2237     22        1976  46310.0
2238    528        1978  65819.0
2239   4070        1969  94871.0

[2240 rows x 3 columns]

In [ ]:
datos_seleccion = pd.read_csv('superstore_data.csv', usecols=[0,1,4])
datos_seleccion

         Id  Year_Birth   Income
0      1826        1970  84835.0
1         1        1961  57091.0
2     10476        1958  67267.0
3      1386        1967  32474.0
4      5371        1989  21474.0
...     ...         ...      ...
2235  10142        1976  66476.0
2236   5263        1977  31056.0
2237     22        1976  46310.0
2238    528        1978  65819.0
2239   4070        1969  94871.0

[2240 rows x 3 columns]

###**Escribiendo archivos CSV**

Documentación: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html

In [ ]:
datos_seleccion.to_csv('clientes_mercado.csv')

In [ ]:
clientes_mercado = pd.read_csv('clientes_mercado.csv')
clientes_mercado

      Unnamed: 0     Id  Year_Birth   Income
0              0   1826        1970  84835.0
1              1      1        1961  57091.0
2              2  10476        1958  67267.0
3              3   1386        1967  32474.0
4              4   5371        1989  21474.0
...          ...    ...         ...      ...
2235        2235  10142        1976  66476.0
2236        2236   5263        1977  31056.0
2237        2237     22        1976  46310.0
2238        2238    528        1978  65819.0
2239        2239   4070        1969  94871.0

[2240 rows x 4 columns]

In [ ]:
datos_seleccion.to_csv('datos_mercado.csv', index=False)

In [ ]:
datos_mercado = pd.read_csv('datos_mercado.csv')
datos_mercado

         Id  Year_Birth   Income
0      1826        1970  84835.0
1         1        1961  57091.0
2     10476        1958  67267.0
3      1386        1967  32474.0
4      5371        1989  21474.0
...     ...         ...      ...
2235  10142        1976  66476.0
2236   5263        1977  31056.0
2237     22        1976  46310.0
2238    528        1978  65819.0
2239   4070        1969  94871.0

[2240 rows x 3 columns]

##**Aula 2 - Leyendo archivos Excel**

###**Importando archivos Excel**

In [ ]:
import pandas as pd

In [ ]:
archivo = 'emisiones_CO2.xlsx'

In [ ]:
datos_co2 = pd.read_excel(archivo)

In [ ]:
datos_co2.head()

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros,Per Capita
0,Afganistán,AFG,1750,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afganistán,AFG,1751,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afganistán,AFG,1752,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afganistán,AFG,1753,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afganistán,AFG,1754,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
pd.ExcelFile(archivo).sheet_names

['emisiones_C02', 'emisiones_percapita', 'fuentes']

###**Parámetros de la función read_excel**

Documentación: https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html

In [ ]:
percapita = pd.read_excel(archivo, sheet_name='emisiones_percapita')

In [ ]:
percapita.head()

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros
0,Afganistán,AFG,1750,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afganistán,AFG,1751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afganistán,AFG,1752,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afganistán,AFG,1753,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afganistán,AFG,1754,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
fuentes = pd.read_excel(archivo, sheet_name='fuentes')

In [ ]:
fuentes.head()

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros,Per Capita
0,Afganistán,AFG,1750,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
1,Afganistán,AFG,1751,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
2,Afganistán,AFG,1752,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
3,Afganistán,AFG,1753,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
4,Afganistán,AFG,1754,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]

In [ ]:
intervalo = pd.read_excel(archivo, sheet_name='emisiones_C02', usecols= 'A:D')

In [ ]:
intervalo

             País ISO 3166-1 alpha-3   Año         Total
0      Afganistán                AFG  1750  0.000000e+00
1      Afganistán                AFG  1751  0.000000e+00
2      Afganistán                AFG  1752  0.000000e+00
3      Afganistán                AFG  1753  0.000000e+00
4      Afganistán                AFG  1754  0.000000e+00
...           ...                ...   ...           ...
63099      Global                WLD  2017  3.609674e+10
63100      Global                WLD  2018  3.682651e+10
63101      Global                WLD  2019  3.708256e+10
63102      Global                WLD  2020  3.526409e+10
63103      Global                WLD  2021  3.712385e+10

[63104 rows x 4 columns]

In [ ]:
intervalo_2 = pd.read_excel(archivo, sheet_name='emisiones_C02', usecols= 'A:D', nrows=10)

In [ ]:
intervalo_2

         País ISO 3166-1 alpha-3   Año  Total
0  Afganistán                AFG  1750      0
1  Afganistán                AFG  1751      0
2  Afganistán                AFG  1752      0
3  Afganistán                AFG  1753      0
4  Afganistán                AFG  1754      0
5  Afganistán                AFG  1755      0
6  Afganistán                AFG  1756      0
7  Afganistán                AFG  1757      0
8  Afganistán                AFG  1758      0
9  Afganistán                AFG  1759      0

###**Escribiendo archivos Excel**

In [ ]:
percapita.to_excel('co2_percapita.xlsx', index=False)

In [ ]:
pd.read_excel('co2_percapita.xlsx')

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros
0,Afganistán,AFG,1750,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afganistán,AFG,1751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afganistán,AFG,1752,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afganistán,AFG,1753,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afganistán,AFG,1754,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
63099,Global,WLD,2017,4749682.0,1908857.0,1610910.0,940144.0,198416.0,51579.0,39776.0
63100,Global,WLD,2018,4792753.0,1919213.0,1596350.0,979965.0,204225.0,53634.0,39366.0
63101,Global,WLD,2019,4775633.0,1896468.0,1589920.0,984878.0,208309.0,56569.0,39490.0
63102,Global,WLD,2020,4497423.0,1807760.0,1427353.0,963695.0,208844.0,51981.0,37789.0
63103,Global,WLD,2021,4693699.0,1893923.0,1496614.0,1001585.0,211472.0,52663.0,37443.0

###**Leyendo datos de Google Sheets**

link: https://docs.google.com/spreadsheets/d/1mRsV8OYjogOx_6neuNbboxvJaRpySydVN7mn6zBOn0I/edit?usp=sharing

In [ ]:
sheet_id = '1mRsV8OYjogOx_6neuNbboxvJaRpySydVN7mn6zBOn0I'
url = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet'

In [ ]:
datos_co2_sheets = pd.read_csv(url)

In [ ]:
datos_co2_sheets

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros,Per Capita
0,Afganistán,AFG,1750,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afganistán,AFG,1751,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afganistán,AFG,1752,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afganistán,AFG,1753,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afganistán,AFG,1754,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
63099,Global,WLD,2017,"36,096,739,276","14,506,973,805","12,242,627,935","7,144,928,128","1,507,923,185","391,992,176","302,294,047","4,749,682"
63100,Global,WLD,2018,"36,826,506,600","14,746,830,688","12,266,016,285","7,529,846,784","1,569,218,392","412,115,746","302,478,706","4,792,753"
63101,Global,WLD,2019,"37,082,558,969","14,725,978,025","12,345,653,374","7,647,528,220","1,617,506,786","439,253,991","306,638,573","4,775,633"
63102,Global,WLD,2020,"35,264,085,734","14,174,564,010","11,191,808,551","7,556,290,283","1,637,537,532","407,583,673","296,301,685","4,497,423"
63103,Global,WLD,2021,"37,123,850,352","14,979,598,083","11,837,159,116","7,921,829,472","1,672,592,372","416,525,563","296,145,746","4,693,699"

In [ ]:
sheet_id = '1mRsV8OYjogOx_6neuNbboxvJaRpySydVN7mn6zBOn0I'
sheet_name = 'emisiones_percapita'
url_percapita = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'

In [ ]:
percapita_sheets = pd.read_csv(url_percapita)

In [ ]:
percapita_sheets.head()

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros
0,Afganistán,AFG,1750,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afganistán,AFG,1751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afganistán,AFG,1752,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afganistán,AFG,1753,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afganistán,AFG,1754,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
sheet_id = '1mRsV8OYjogOx_6neuNbboxvJaRpySydVN7mn6zBOn0I'
sheet_name = 'fuentes'
url_fuentes = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'

In [ ]:
fuentes_sheets = pd.read_csv(url_fuentes)

In [ ]:
fuentes_sheets.head()

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros,Per Capita
0,Afganistán,AFG,1750,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
1,Afganistán,AFG,1751,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
2,Afganistán,AFG,1752,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
3,Afganistán,AFG,1753,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]
4,Afganistán,AFG,1754,[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE],[NONE]

# **Aula 3 -Leyendo archivos JSON**

### **Importando archivos JSON**

In [1]:
import pandas as pd

In [4]:
datos_pacientes = pd.read_json('pacientes.json')

In [5]:
datos_pacientes

,ID_paciente,Enfermedad_corazon,IMC,Fumador,Consumo_alcohol,AVC,Salud_fisica,Salud_mental,Dificultad_caminar,Sexo_biologico,Rango_edad,Raza,Diabetes,Actividad_fisica,Salud_general,Horas_sueño,Asma,Enfermedad_renal,Cancer_piel
0,0,No,16.60,Sí,No,No,3,30,No,Femenino,55-59,Blanca,Sí,Sí,Muy buena,5,Sí,No,Sí
1,1,No,20.34,No,No,Sí,0,0,No,Femenino,80 ó +,Blanca,No,Sí,Muy buena,7,No,No,No
2,2,No,26.58,Sí,No,No,20,30,No,Masculino,65-69,Blanca,Sí,Sí,Razonable,8,Sí,No,No
3,3,No,24.21,No,No,No,0,0,No,Femenino,75-79,Blanca,No,No,Buena,6,No,No,Sí
4,4,No,23.71,No,No,No,28,0,Sí,Femenino,40-44,Blanca,No,Sí,Muy buena,8,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,No,28.29,Sí,No,No,10,20,No,Femenino,65-69,Negra,Sí,Sí,Razonable,8,No,No,No
996,996,No,25.69,Sí,No,No,0,0,No,Femenino,75-79,Blanca,No,Sí,Excelente,8,No,No,No
997,997,Sí,26.99,No,No,No,1,0,No,Masculino,70-74,Blanca,No,Sí,Muy buena,8,No,No,No
998,998,No,44.29,No,No,No,30,0,Sí,Femenino,70-74,Blanca,Sí,No,Buena,6,Sí,No,No
999,999,No,25.83,No,No,No,0,0,No,Masculino,70-74,Negra,Sí,No,Excelente,7,No,No,No

In [7]:
datos_pacientes2 = pd.read_json('pacientes_2.json')

In [8]:
datos_pacientes2

,Investigación,Año,Pacientes
0,Indicadores clave de enfermedades cardíacas,2020,"{'ID': '01', 'Rango_edad': '55-59', 'Sexo_biol..."
1,Indicadores clave de enfermedades cardíacas,2020,"{'ID': '02', 'Rango_edad': '80 ó +', 'Sexo_bio..."
2,Indicadores clave de enfermedades cardíacas,2020,"{'ID': '03', 'Rango_edad': '65-69', 'Sexo_biol..."

### **Normalizando archivos JSON**

In [11]:
df_normalizado=pd.json_normalize(datos_pacientes2['Pacientes'])

In [12]:
df_normalizado

,ID,Rango_edad,Sexo_biologico,Raza,IMC,Fumador,Consumo_alcohol,Salud_física,Salud_mental,Dificultad_caminar,Actividad_física,Salud_general,Horas_sueño,Problemas_salud
0,01,55-59,Mujer,Blanca,16.60,Sí,No,3,30,No,Sí,Muy buena,5,"[Diabetes, Asma, Cancer_piel]"
1,02,80 ó +,Mujer,Blanca,20.34,No,No,0,0,No,Sí,Muy buena,7,[AVC]
2,03,65-69,Masculino,Blanca,26.58,Sí,No,20,30,No,Sí,Muy buena,8,"[Diabetes, Asma]"

In [13]:
df_normalizado.to_json('pacientes_normalizados.json')

In [14]:
pd.read_json('pacientes_normalizados.json')

,ID,Rango_edad,Sexo_biologico,Raza,IMC,Fumador,Consumo_alcohol,Salud_física,Salud_mental,Dificultad_caminar,Actividad_física,Salud_general,Horas_sueño,Problemas_salud
0,1,55-59,Mujer,Blanca,16.60,Sí,No,3,30,No,Sí,Muy buena,5,"[Diabetes, Asma, Cancer_piel]"
1,2,80 ó +,Mujer,Blanca,20.34,No,No,0,0,No,Sí,Muy buena,7,[AVC]
2,3,65-69,Masculino,Blanca,26.58,Sí,No,20,30,No,Sí,Muy buena,8,"[Diabetes, Asma]"

#**Aula 4 - Leyendo páginas en HTML e XML**

### **Importando páginas web**

In [15]:
import pandas as pd

In [17]:
datos_html=pd.read_html('https://es.wikipedia.org/wiki/Anexo:Finales_de_la_Copa_Mundial_de_F%C3%BAtbol')

In [19]:
len(datos_html)

2

In [21]:
primeras=datos_html[0]

In [22]:
primeras

,Fecha,Campeón,Resultado,Subcampeón,Estadio,Espectadores,Localización,Notas
0,30-07-1930,Uruguay,4:2,Argentina,Centenario,68 346,Montevideo,[4]​[5]​
1,10-06-1934,Italia,2:1 (pr.),Checoslovaquia,Nacional del PNF,50 000,Roma,[6]​[7]​
2,19-06-1938,Italia,4:2,Hungría,Olympique,45 124,Colombes,[8]​[9]​
3,16-07-1950,Uruguay,2:1,Brasil,Maracaná,199 150,Río de Janeiro,[10]​[11]​
4,04-07-1954,Alemania Federal,3:2,Hungría,Wankdorfstadion,60 000,Berna,[12]​[13]​
5,29-06-1958,Brasil,5:2,Suecia,Råsunda,51 800,Solna,[14]​[15]​
6,17-06-1962,Brasil,3:1,Checoslovaquia,Nacional,68 679,Santiago de Chile,[16]​[17]​
7,30-07-1966,Inglaterra,4:2 (pr.),Alemania Federal,Wembley,97 924,Londres,[18]​[19]​
8,21-06-1970,Brasil,4:1,Italia,Azteca,107 412,Ciudad de México,[20]​[21]​
9,07-07-1974,Alemania Federal,2:1,Países Bajos,Olímpico,75 200,Múnich,[22]​[23]​
10,25-06-1978,Argentina,3:1 (pr.),Países Bajos,Monumental,71 483,Buenos Aires,[24]​[25]​
11,11-07-1982,Italia,3:1,Alemania Federal,Santiago Bernabéu,90 000,Madrid,[26]​[27]​
12,29-06-1986,Argentina,3:2,Alemania Federal,Azteca,114 600,Ciudad de México,[28]​[29]​
13,08-07-1990,Alemania Federal,1:0,Argentina,Olímpico,73 603,Roma,[30]​[31]​
14,17-07-1994,Brasil,0:0 (3:2 pen.),Italia,Rose Bowl,94 194,Pasadena,[32]​[33]​
15,12-07-1998,Francia,3:0,Brasil,Stade de France,80 000,Saint-Denis,[34]​[35]​
16,30-06-2002,Brasil,2:0,Alemania,Internacional,69 029,Yokohama,[36]​[37]​
17,09-07-2006,Italia,1:1 (5:3 pen.),Francia,Olímpico,69 000,Berlín,[38]​[39]​
18,11-07-2010,España,1:0 (pr.),Países Bajos,Soccer City,84 490,Johannesburgo,[40]​
19,13-07-2014,Alemania,1:0 (pr.),Argentina,Maracaná,74 738,Río de Janeiro,[41]​
20,15-07-2018,Francia,4:2,Croacia,Luzhnikí,78 011,Moscú,[42]​
21,18-12-2022,Argentina,3:3 (4:2 pen.),Francia,Icónico,88 966,Lusail,[43]​
22,08-07-2026,NaN,NaN,NaN,MetLife,NaN,Nueva York/Nueva Jersey,NaN

### **Escribiendo archivos HTML**

In [27]:
primeras.to_html('primeras_finales.html',index=False)

In [28]:
pd.read_html('primeras_finales.html')

[         Fecha          CampeÃ³n       Resultado       SubcampeÃ³n  \
 0   30-07-1930           Uruguay             4:2         Argentina
 1   10-06-1934            Italia       2:1 (pr.)    Checoslovaquia
 2   19-06-1938            Italia             4:2          HungrÃ­a
 3   16-07-1950           Uruguay             2:1            Brasil
 4   04-07-1954  Alemania Federal             3:2          HungrÃ­a
 5   29-06-1958            Brasil             5:2            Suecia
 6   17-06-1962            Brasil             3:1    Checoslovaquia
 7   30-07-1966        Inglaterra       4:2 (pr.)  Alemania Federal
 8   21-06-1970            Brasil             4:1            Italia
 9   07-07-1974  Alemania Federal             2:1     PaÃ­ses Bajos
 10  25-06-1978         Argentina       3:1 (pr.)     PaÃ­ses Bajos
 11  11-07-1982            Italia             3:1  Alemania Federal
 12  29-06-1986         Argentina             3:2  Alemania Federal
 13  08-07-1990  Alemania Federal             1:0         Argentina
 14  17-07-1994            Brasil  0:0 (3:2 pen.)            Italia
 15  12-07-1998           Francia             3:0            Brasil
 16  30-06-2002            Brasil             2:0          Alemania
 17  09-07-2006            Italia  1:1 (5:3 pen.)           Francia
 18  11-07-2010           EspaÃ±a       1:0 (pr.)     PaÃ­ses Bajos
 19  13-07-2014          Alemania       1:0 (pr.)         Argentina
 20  15-07-2018           Francia             4:2           Croacia
 21  18-12-2022         Argentina  3:3 (4:2 pen.)           Francia
 22  08-07-2026               NaN             NaN               NaN

                Estadio Espectadores            LocalizaciÃ³n           Notas
 0           Centenario      68Â 346               Montevideo    [4]â[5]â
 1     Nacional del PNF      50Â 000                     Roma    [6]â[7]â
 2            Olympique      45Â 124                 Colombes    [8]â[9]â
 3            MaracanÃ¡     199Â 150          RÃ­o de Janeiro  [10]â[11]â
 4      Wankdorfstadion      60Â 000                    Berna  [12]â[13]â
 5             RÃ¥sunda      51Â 800                    Solna  [14]â[15]â
 6             Nacional      68Â 679        Santiago de Chile  [16]â[17]â
 7              Wembley      97Â 924                  Londres  [18]â[19]â
 8               Azteca     107Â 412        Ciudad de MÃ©xico  [20]â[21]â
 9            OlÃ­mpico      75Â 200                  MÃºnich  [22]â[23]â
 10          Monumental      71Â 483             Buenos Aires  [24]â[25]â
 11  Santiago BernabÃ©u      90Â 000                   Madrid  [26]â[27]â
 12              Azteca     114Â 600        Ciudad de MÃ©xico  [28]â[29]â
 13           OlÃ­mpico      73Â 603                     Roma  [30]â[31]â
 14           Rose Bowl      94Â 194                 Pasadena  [32]â[33]â
 15     Stade de France      80Â 000              Saint-Denis  [34]â[35]â
 16       Internacional      69Â 029                 Yokohama  [36]â[37]â
 17           OlÃ­mpico      69Â 000                  BerlÃ­n  [38]â[39]â
 18         Soccer City      84Â 490            Johannesburgo         [40]â
 19           MaracanÃ¡      74Â 738          RÃ­o de Janeiro         [41]â
 20           LuzhnikÃ­      78Â 011                   MoscÃº         [42]â
 21            IcÃ³nico      88Â 966                   Lusail         [43]â
 22             MetLife          NaN  Nueva York/Nueva Jersey             NaN  ]

In [29]:
primeras.to_csv('primeras_finales.csv',index=False)

In [31]:
datos =pd.read_csv('primeras_finales.csv')
datos.head()

,Fecha,Campeón,Resultado,Subcampeón,Estadio,Espectadores,Localización,Notas
0,30-07-1930,Uruguay,4:2,Argentina,Centenario,68 346,Montevideo,[4]​[5]​
1,10-06-1934,Italia,2:1 (pr.),Checoslovaquia,Nacional del PNF,50 000,Roma,[6]​[7]​
2,19-06-1938,Italia,4:2,Hungría,Olympique,45 124,Colombes,[8]​[9]​
3,16-07-1950,Uruguay,2:1,Brasil,Maracaná,199 150,Río de Janeiro,[10]​[11]​
4,04-07-1954,Alemania Federal,3:2,Hungría,Wankdorfstadion,60 000,Berna,[12]​[13]​

###**Leyendo/Escribiendo Archivos XML**

In [32]:
import pandas as pd

In [65]:
datos_imdb=pd.read_xml('imdb_top_1000.xml')

In [66]:
datos_imdb.to_xml('pelis_2.xml')

# **Aula 5 - Leyendo Banco de datos**

### **Creando un banco de datos local**

In [57]:
import sqlalchemy

In [58]:
from sqlalchemy import create_engine, MetaData, Table, inspect, text

In [59]:
engine = create_engine('sqlite:///:memory:')

### **Escribiendo en un banco de datos**

In [60]:
import pandas as pd

In [61]:
archivo = 'clientes_banco.csv'

In [68]:
datos = pd.read_csv(archivo)

In [69]:
datos.head()

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008804,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
1,5008805,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
2,5008806,58,Nivel intermedio,Casado,2,Empleado,Seguridad,3,112500.0,1,Casa/Departamento propio
3,5008808,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio
4,5008809,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio

In [ ]:
datos.to_sql('clientes', engine, index=False)

In [71]:
inspector = inspect(engine)

In [73]:
print(inspector.get_table_names())

['clientes']

### **Escribiendo en un banco de datos**

In [75]:
import pandas as pd

In [76]:
archivo = 'clientes_banco.csv'

In [79]:
datos= pd.read_csv(archivo)

In [80]:
datos.head()

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008804,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
1,5008805,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
2,5008806,58,Nivel intermedio,Casado,2,Empleado,Seguridad,3,112500.0,1,Casa/Departamento propio
3,5008808,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio
4,5008809,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio

In [81]:
datos.to_sql('clientes', engine, index=False)

ValueError: Table 'clientes' already exists.

### **Leyendo consultas**

In [85]:
query  = ' SELECT * FROM clientes WHERE Categoria_de_renta = "Empleado"'

In [87]:
empleados=pd.read_sql(sql=text(query), con=engine.connect())

In [88]:
empleados

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008804,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
1,5008805,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
2,5008806,58,Nivel intermedio,Casado,2,Empleado,Seguridad,3,112500.0,1,Casa/Departamento propio
3,5008815,46,Nivel superior,Casado,2,Empleado,Contabilidad,2,270000.0,1,Casa/Departamento propio
4,5112956,46,Nivel superior,Casado,2,Empleado,Contabilidad,2,270000.0,1,Casa/Departamento propio
...,...,...,...,...,...,...,...,...,...,...,...
37806,5284330,29,Nivel superior,Relación-estable,2,Empleado,Equipo principal,3,157500.0,0,Casa/Departamento propio
37807,5284349,51,Nivel intermedio,Relación-estable,2,Empleado,Seguridad,4,135000.0,0,Casa/Departamento propio
37808,5284354,36,Nivel superior,Casado,2,Empleado,Equipo principal,2,135000.0,0,Casa/Departamento propio
37809,5284355,36,Nivel superior,Casado,2,Empleado,Equipo principal,2,135000.0,0,Casa/Departamento propio
37810,5284431,38,Nivel superior,Casado,3,Empleado,Construcción Civil,3,135000.0,1,Departamento alquilado

In [89]:
empleados.to_sql('empleados', con = engine.connect(), index = False)

37811

In [91]:
pd.read_sql_table('empleados', con = engine.connect())

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008804,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
1,5008805,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
2,5008806,58,Nivel intermedio,Casado,2,Empleado,Seguridad,3,112500.0,1,Casa/Departamento propio
3,5008815,46,Nivel superior,Casado,2,Empleado,Contabilidad,2,270000.0,1,Casa/Departamento propio
4,5112956,46,Nivel superior,Casado,2,Empleado,Contabilidad,2,270000.0,1,Casa/Departamento propio
...,...,...,...,...,...,...,...,...,...,...,...
37806,5284330,29,Nivel superior,Relación-estable,2,Empleado,Equipo principal,3,157500.0,0,Casa/Departamento propio
37807,5284349,51,Nivel intermedio,Relación-estable,2,Empleado,Seguridad,4,135000.0,0,Casa/Departamento propio
37808,5284354,36,Nivel superior,Casado,2,Empleado,Equipo principal,2,135000.0,0,Casa/Departamento propio
37809,5284355,36,Nivel superior,Casado,2,Empleado,Equipo principal,2,135000.0,0,Casa/Departamento propio
37810,5284431,38,Nivel superior,Casado,3,Empleado,Construcción Civil,3,135000.0,1,Departamento alquilado

In [96]:
pd.read_sql_table('empleados', con = engine.connect(),columns=['ID_Cliente','Grado_estudio','Rendimiento_anual'])

       ID_Cliente     Grado_estudio  Rendimiento_anual
0         5008804    Nivel superior           427500.0
1         5008805    Nivel superior           427500.0
2         5008806  Nivel intermedio           112500.0
3         5008815    Nivel superior           270000.0
4         5112956    Nivel superior           270000.0
...           ...               ...                ...
37806     5284330    Nivel superior           157500.0
37807     5284349  Nivel intermedio           135000.0
37808     5284354    Nivel superior           135000.0
37809     5284355    Nivel superior           135000.0
37810     5284431    Nivel superior           135000.0

[37811 rows x 3 columns]

###Actualizacion un banco de datos

In [97]:
query = 'SELECT * FROM clientes'

In [98]:
pd.read_sql(sql=text(query), con=engine.connect())

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008804,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
1,5008805,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
2,5008806,58,Nivel intermedio,Casado,2,Empleado,Seguridad,3,112500.0,1,Casa/Departamento propio
3,5008808,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio
4,5008809,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio
...,...,...,...,...,...,...,...,...,...,...,...
74585,5284438,51,Nivel intermedio,Casado,2,Pensionista,Otro,0,180000.0,0,Casa/Departamento propio
74586,5284439,51,Nivel intermedio,Casado,2,Pensionista,Otro,0,180000.0,0,Casa/Departamento propio
74587,5284440,51,Nivel intermedio,Casado,2,Pensionista,Otro,0,180000.0,0,Casa/Departamento propio
74588,5284441,59,Nivel superior,Casado,2,Pensionista,Otro,0,135000.0,1,Casa/Departamento propio
74589,5284442,59,Nivel superior,Casado,2,Pensionista,Otro,0,135000.0,1,Casa/Depart

In [101]:
#BORRAR REGISTROS
from sqlalchemy.exc import SQLAlchemyError
query = "DELETE FROM clientes WHERE ID_Cliente = 5008804"
try:
  r_set = engine.connect().execute(text(query))
except SQLAlchemyError as e:
    print(e)
else:
  print("#Registros borrados : ", r_set.rowcount)

#Registros borrados :  1

In [104]:
pd.read_sql(sql='clientes', con=engine.connect())

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008805,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
1,5008806,58,Nivel intermedio,Casado,2,Empleado,Seguridad,3,112500.0,1,Casa/Departamento propio
2,5008808,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio
3,5008809,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio
4,5008810,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio
...,...,...,...,...,...,...,...,...,...,...,...
74584,5284438,51,Nivel intermedio,Casado,2,Pensionista,Otro,0,180000.0,0,Casa/Departamento propio
74585,5284439,51,Nivel intermedio,Casado,2,Pensionista,Otro,0,180000.0,0,Casa/Departamento propio
74586,5284440,51,Nivel intermedio,Casado,2,Pensionista,Otro,0,180000.0,0,Casa/Departamento propio
74587,5284441,59,Nivel superior,Casado,2,Pensionista,Otro,0,135000.0,1,Casa/Departamento propio
74588,5284442,59,Nivel superior,Casado,2,Pensionista,Otro,0,135000.0,1,Casa/Depart

In [110]:
#ACTUALIZAR GRADO DE ESTUDIO REGISTRO


query = "UPDATE  clientes SET Grado_estudio='Nivel superior'  WHERE ID_Cliente = 5008808"
try:
  r_set = engine.connect().execute(text(query))
except SQLAlchemyError as e:
    print(e)
else:
  print("#Registros Actualizados : ", r_set.rowcount)

#Registros Actualizados :  1

In [111]:
pd.read_sql(sql='clientes', con=engine.connect())

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008805,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
1,5008806,58,Nivel intermedio,Casado,2,Empleado,Seguridad,3,112500.0,1,Casa/Departamento propio
2,5008808,52,Nivel superior,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio
3,5008809,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio
4,5008810,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio
...,...,...,...,...,...,...,...,...,...,...,...
74584,5284438,51,Nivel intermedio,Casado,2,Pensionista,Otro,0,180000.0,0,Casa/Departamento propio
74585,5284439,51,Nivel intermedio,Casado,2,Pensionista,Otro,0,180000.0,0,Casa/Departamento propio
74586,5284440,51,Nivel intermedio,Casado,2,Pensionista,Otro,0,180000.0,0,Casa/Departamento propio
74587,5284441,59,Nivel superior,Casado,2,Pensionista,Otro,0,135000.0,1,Casa/Departamento propio
74588,5284442,59,Nivel superior,Casado,2,Pensionista,Otro,0,135000.0,1,Casa/Depart

In [112]:
inspector = inspect(engine)

In [113]:
print(inspector.get_table_names())

['clientes', 'empleados']

In [114]:
import sqlalchemy
from sqlalchemy import create_engine, MetaData, Table, inspect, text
engine = create_engine('sqlite:///:memory:')

In [115]:
import pandas as pd
archivo = 'clientes_banco.csv'
datos = pd.read_csv(archivo)
datos.to_sql('clientes', engine, index=False)

438463

In [116]:
pd.read_sql_table('clientes', con=engine.connect())

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008804,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
1,5008805,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
2,5008806,58,Nivel intermedio,Casado,2,Empleado,Seguridad,3,112500.0,1,Casa/Departamento propio
3,5008808,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio
4,5008809,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio
...,...,...,...,...,...,...,...,...,...,...,...
438458,6840104,62,Nivel intermedio,Divorciado,1,Pensionista,Otro,0,135000.0,0,Casa/Departamento propio
438459,6840222,43,Nivel intermedio,Soltero,1,Empleado,Construcción Civil,8,103500.0,0,Casa/Departamento propio
438460,6841878,22,Nivel superior,Soltero,1,Business Partner,Ventas,1,54000.0,0,Vive con los padres
438461,6842765,59,Nivel intermedio,Casado,2,Pensionista,Otro,0,72000.0,0,Casa/Departamento propio
438462,6842885,51,Nivel intermedio,Casado,2,Empleado,Ventas,3,121500.0,0,Casa/Departamento propio

In [117]:
from sqlalchemy.exc import SQLAlchemyError
query = 'UPDATE clientes SET Rendimiento_anual=300000.0 WHERE ID_Cliente=6840104'
try:
  r_set=engine.connect().execute(text(query))
except SQLAlchemyError as e:
  print(e)
else:
  print("#Registros actualizados: ",r_set.rowcount)

#Registros actualizados:  1

In [119]:
pd.read_sql(sql='clientes', con=engine.connect())

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008804,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
1,5008805,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
2,5008806,58,Nivel intermedio,Casado,2,Empleado,Seguridad,3,112500.0,1,Casa/Departamento propio
3,5008808,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio
4,5008809,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio
...,...,...,...,...,...,...,...,...,...,...,...
438458,6840104,62,Nivel intermedio,Divorciado,1,Pensionista,Otro,0,300000.0,0,Casa/Departamento propio
438459,6840222,43,Nivel intermedio,Soltero,1,Empleado,Construcción Civil,8,103500.0,0,Casa/Departamento propio
438460,6841878,22,Nivel superior,Soltero,1,Business Partner,Ventas,1,54000.0,0,Vive con los padres
438461,6842765,59,Nivel intermedio,Casado,2,Pensionista,Otro,0,72000.0,0,Casa/Departamento propio
438462,6842885,51,Nivel intermedio,Casado,2,Empleado,Ventas,3,121500.0,0,Casa/Departamento propio

In [120]:
from sqlalchemy.exc import SQLAlchemyError
query = 'DELETE FROM clientes WHERE ID_Cliente=5008809'
try:
  r_set=engine.connect().execute(text(query))
except SQLAlchemyError as e:
  print(e)
else:
  print("#Registros borrados: ",r_set.rowcount)

#Registros borrados:  1

In [121]:
pd.read_sql(sql='clientes', con=engine.connect())

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008804,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
1,5008805,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
2,5008806,58,Nivel intermedio,Casado,2,Empleado,Seguridad,3,112500.0,1,Casa/Departamento propio
3,5008808,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio
4,5008810,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio
...,...,...,...,...,...,...,...,...,...,...,...
438457,6840104,62,Nivel intermedio,Divorciado,1,Pensionista,Otro,0,300000.0,0,Casa/Departamento propio
438458,6840222,43,Nivel intermedio,Soltero,1,Empleado,Construcción Civil,8,103500.0,0,Casa/Departamento propio
438459,6841878,22,Nivel superior,Soltero,1,Business Partner,Ventas,1,54000.0,0,Vive con los padres
438460,6842765,59,Nivel intermedio,Casado,2,Pensionista,Otro,0,72000.0,0,Casa/Departamento propio
438461,6842885,51,Nivel intermedio,Casado,2,Empleado,Ventas,3,121500.0,0,Casa/Departamento propio

In [122]:
from sqlalchemy.exc import SQLAlchemyError
query = 'INSERT INTO clientes (ID_Cliente, Edad, Grado_estudio, Estado_civil, ' \
        'Tamaño_familia, Categoria_de_renta, Ocupacion, Años_empleado, ' \
        'Rendimiento_anual, Tiene_carro, Vivienda) ' \
        'VALUES (6850985, 33, "Doctorado", "Soltero", 1, "Empleado", "TI", ' \
        '2, 290000, 0, "Casa/Departamento propio")'

try:
  r_set=engine.connect().execute(text(query))
except SQLAlchemyError as e:
  print(e)
else:
  print("#Registros insertados: ",r_set.rowcount)

#Registros insertados:  1

In [123]:
pd.read_sql_table('clientes', con=engine.connect())

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008804,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
1,5008805,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
2,5008806,58,Nivel intermedio,Casado,2,Empleado,Seguridad,3,112500.0,1,Casa/Departamento propio
3,5008808,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio
4,5008810,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio
...,...,...,...,...,...,...,...,...,...,...,...
438458,6840222,43,Nivel intermedio,Soltero,1,Empleado,Construcción Civil,8,103500.0,0,Casa/Departamento propio
438459,6841878,22,Nivel superior,Soltero,1,Business Partner,Ventas,1,54000.0,0,Vive con los padres
438460,6842765,59,Nivel intermedio,Casado,2,Pensionista,Otro,0,72000.0,0,Casa/Departamento propio
438461,6842885,51,Nivel intermedio,Casado,2,Empleado,Ventas,3,121500.0,0,Casa/Departamento propio
438462,6850985,33,Doctorado,Soltero,1,Empleado,TI,2,290000.0,0,Casa/Departamento propio